@import url(reset.css)
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap');

.heading h1 {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 50px;
	color: white;
	padding-top: 70px;
	padding-left: 80px;
	padding-bottom: 80px;

}
.page {
	background-color: #E5E000;
	width: 1440px;

}
.heading {
	background-color: #E5E000;
	height: 200px;
	width: 1440px;
}
.picture {
	background-image: cover
}
.box{
	padding-top: 36px;
	padding-left: 80px;
	padding-bottom: 36px;
}
.box div	{
	display: inline-flex;
	color: white;
	padding-right: 20px;
}

.box h3 {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	font-size: 25px;
	text-transform: uppercase;
	text-decoration: none; /*почему-то не сработал */

	color:white;
}

.content {
	padding-top: 36px;
	padding-left: 80px;
	padding-bottom: 36px;
	width: 1280px;	
}

.content h1 {
	font-family: 'Fira Sans', sans-serif;
	font-weight: bold;
	font-size: 50px;
}
.content p {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	font-size: 40px;
	line-height: 140%
}

.footer {
	background-color: #E5E000;
	height: 200px;
	width: 1440px;
}
.footer div {
	display: inline-flex;
padding-right: 40px

}

.logo {
	padding-top: 77px;
	padding-left: 80px;
	padding-bottom: 77px;	
	height: 46px;	
}
.description {
/*я не знаю как выровнять по правому краю*/

}

.footer h1 { 
	font-family: 'Fira Sans', sans-serif;
	font-weight: bold;
	font-size: 50px; 
	color: white;

}
